.titleContainer {
    height: 145px;
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.titleText {
    color: var(--verydark-color);
    font-weight: normal;
    font-size: 36px;
}

.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 40px;
}

.profileHeaderName {
    font-weight: bold;
    font-size:15px;
    color: var(--verydark-color);
}

.profileHeaderValue {
    font-size:15px;
    color: var(--dark-color);
    font-family: 'Courgette';
}

.divBand {
    background-color: var(--secondary-color);
    height: 4px;
    margin-bottom: 10px;
    width: 60%;
    animation: w60 5s infinite;
}

@keyframes w60 {
    from { width: 0%; }
    to { width: 60%; }
}

@media only screen and (max-width: 520px) {
    .profileHeaderValue {
        margin: 0 20px 20px;
    }
}