@import "../color";

.achievementsMainContainer {
   display: grid;
   grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: none;
   grid-gap: 10px;
   margin: 20px;
   width: calc(100% - 40px);
   height: auto;
   align-items: center;
}

.lifeSkillsContainer {
    grid-row: 1;
    grid-column: none;
    background-color: $grayBackgroundColor;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.achievementsContainer {
    grid-row: 2;
    grid-column: none;
    height: 100%;
    grid-column: 2/3;
    background-color: #E98A15;
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.hobbiesContainer {
    grid-row: 3/3;
    grid-column: none;
    background-color: $grayBackgroundColor;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.lifeSkillsHeader, .achievementsHeader, .hobbiesHeader{
    grid-row: 1;
    background-color: #E98A15;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;

}

.headerText {
    font-family: 'Courgette';
    font-size: 30px;
    margin-left: 10px;
    color: $lightBgColor;
}

.achievementsHeader {
    background-color: $grayBackgroundColor;
}

.lifeSkillsBody, .achievementsBody, .hobbiesBody{
    grid-row: 2;
    margin: 0 10px 10px;
}


%checkListPlaceholder {
    color: $lightBgColor;
    list-style: none;
    line-height: 1.5;
    padding:2px;
  }

  .lifeSkillsList, .achievementList, .hobbiesList {
      @extend %checkListPlaceholder;
  }
  
  .lifeSkillsList li:before {
    content: '❋ ';
    color: #E98A15;
  }

  .achievementList li:before {
    content: '✬ ';
    color: $grayBackgroundColor;
  }

  .hobbiesList li:before {
    content: '❤︎ ';
    color: #E98A15;
  }

//  tab and desktops
@media only screen and (min-width: 800px) {
    .achievementsMainContainer {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: none;
        grid-gap: 20px;
     }

     .lifeSkillsContainer {
        grid-column: 1/2;
        grid-row: none;
    }
    
    .achievementsContainer {
        grid-column: 2/3;
        grid-row: none;
        height: 60%;
    }
    
    .hobbiesContainer {
        grid-column: 3/4;
        grid-row: none;
    }
  }