@import "../color";

.skillSetContainer {
    margin: 20px;
    width: calc(100% - 40px);
    height: auto;
    background-color: $grayBackgroundColor;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.codingImage {
    width: 50px;
    height: 50px;
}

.skillSetList {
    flex: 0 0 calc(100% - 20px);
    margin: 0 10px 10px 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skillSetHeader {
    display: flex;
    align-items: center;
    background-color: #E8E8E8;
    margin: 10px;
    justify-content: center;
}

.skillsCircle {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background-color: $highLightColor;
    border: 2px solid $lightBgColor;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.skills {
    font-size: 18px;
    color: $grayBackgroundColor;
    font-weight: bold;
}

.skillSetHeaderText {
    font-family: 'Courgette';
    font-size: 30px;
    margin-left: 10px;
    color: $grayBackgroundColor;
}

.skillSetBody{
    display: flex;
    color: #E98A15;
    font-size: 14px;
    flex-wrap: wrap;
    justify-content: center;
}

.skillHeaderName {
    font-weight: bold;
    font-size: 15px;
    color: #E8E8E8;
}

//  tab and desktops
@media only screen and (min-width: 800px) {
    .skillSetBody{
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
    .skillSetImageContainer {
        flex: 0 0 calc(40% - 10px);
    }

    .skillSetList {
        flex: 0 0 calc(100% - 20px);
        margin: 0 10px 10px 0;
    }
}
