@import "../color";

.skillSetContainer {
    margin: 20px;
    width: calc(100% - 40px);
    height: auto;
    background-color: $grayBackgroundColor;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.codingImage {
    width: 50px;
    height: 50px;
}

.skillSetList {
    flex: 0 0 calc(100% - 20px);
    margin: 0 10px 10px 10px;
}

.skillSetHeader {
    display: flex;
    align-items: center;
    background-color: #E8E8E8;
    margin: 10px;
    justify-content: center;
}

.skillSetHeaderText {
    font-family: cursive;
    font-size: 30px;
    margin-left: 10px;
    color: $grayBackgroundColor;
}

.skillSetBody{
    display: flex;
    color: #E98A15;
    font-size: 14px;
    flex-wrap: wrap;
    justify-content: center;
}

.skillSetImageContainer {
    flex: 0 0 calc(100% - 20px);
    margin: 10px;
    height: 320px; 
    text-align: center;
}

.skillSetImage {
    max-width: 500px;
    min-width: 200px;
    width: 100%;
    height: 320px;
}

.skillHeaderName {
    font-weight: bold;
    font-size: 15px;
    color: #E8E8E8;
}

.hexagonalGrid {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    height: 30%;

    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

.second {
    margin:0 8%;
}

.hexagonalElement{
    list-style-type: none;
    position: relative;
    float: left;
    width: 12%;
    padding: 0 0 14% 0;
    margin: 2%;
    transform: rotate(-60deg) skewY(30deg);
    overflow: hidden;
    visibility: hidden;
    animation: spin 10s linear infinite;
    /*Set our animation play state to paused initially */
    animation-play-state: paused;


    * {
        visibility: visible;
    }

    .hexagon {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $lightBgColor;
        transform: skewY(-30deg) rotate(60deg);
        overflow: hidden;
        display:flex;
        justify-content: center;
        align-items: center;
    }

    &:hover {
        animation-play-state: running;
    }
}

@keyframes spin {
    100% {transform: rotate(3turn); }
  }

.reactLogo {
    height: 100%;
    width:100%;
}

.reduxLogo {
    height: 60%;
    width: 80%;
}

.htmlLogo {
    height: 112%;
    width: 130%;
}


//  tab and desktops
@media only screen and (min-width: 800px) {
    .skillSetBody{
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
    .skillSetImageContainer {
        flex: 0 0 calc(40% - 10px);
    }

    .skillSetList {
        flex: 0 0 calc(60% - 20px);
        margin: 0 10px 10px 0;
    }
}
