.headerContainer {
   height: 600px;
   width: 100%;
   position: relative;
}

.headerImage {
    width: 100%;
    height: 100%;
}

.myImage {
    width:300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    border: 4px solid #012622;

}

%linkImagePlaceholder {
    position: absolute;
    background-color: #E98A15;
    border-radius: 50%;
    margin:10px 10px 0;
    cursor: pointer;
    border: 2px solid #012622;

    &:hover{
      background-color: #ecb877; 
    }
}

.gitImage {
    @extend %linkImagePlaceholder;
    width: 70px;
    height: 70px;
    right: 0;
}

.linkedinImage {
    @extend %linkImagePlaceholder;
    width: 70px;
    height: 70px;
    right: 80px;
}

.twitterImage {
    @extend %linkImagePlaceholder;
    position: absolute;
    width: 70px;
    height: 70px;
    right: 160px;
}

.gitLink {
    cursor: pointer;
}

.shadow {
    box-shadow: 0px 0px 20px 5px #E98A1552;
 }
