@import "../color";

.blogPageHeader {
    height: 40px;
    width: 100%;
    position: relative;
  }

  .backLink{
    position: absolute;
    margin:10px 80px;
    cursor: pointer;
    height: 40px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #E98A15;
    font-size: 20px;
    font-family:'Courgette';
    right: 0;

    &:hover{
        color: #ecb877; 
        text-decoration: underline;
      }
}

.detailLink {
    text-decoration: none;
    color: black;
}

.labelBlock {
  height: auto;
  margin: 20px 10px 0;
  width: calc(100% - 20px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

%labelPlaceholder {
  justify-self: flex-start;
  color: $grayBackgroundColor;
  padding: 5px;
  border-radius: 4px;
  font-family: 'Courgette';
  margin: 0 20px 10px 0;
  cursor: pointer;
  border: 2px solid $grayBackgroundColor;
}

.labelCss {
  @extend %labelPlaceholder;
  background-color: #E8E8E8;
  box-shadow:  4px 1px 0px rgba(233, 138, 21,0.3)
}

.selectedLabelCss {
  @extend %labelPlaceholder;
  background-color: #E98A15;
}

.searchContainer {
  height: 50px;
  width:100%;
  display: flex;
  align-items: center;
}

  //  tab and desktops
  @media only screen and (min-width: 800px) {
    .labelBlock {
      width:calc(100% - 160px);
      margin:20px 80px 0;
    }
}
