.blogPageHeader {
    height: 40px;
    width: 100%;
    position: relative;
  }

  .backLink{
    position: absolute;
    margin:10px 80px;
    cursor: pointer;
    height: 40px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #E98A15;
    font-size: 20px;
    font-family: cursive;
    right: 0;

    &:hover{
        color: #ecb877; 
        text-decoration: underline;
      }
}

.detailLink {
    text-decoration: none;
    color: black;
}

.searchContainer {
  height: 50px;
  width:100%;
  display: flex;
  align-items: center;
}
