@import "../color";

%blogContainerPlaceholder {
    margin: 80px;
    width: calc(100% - 160px);
    height: auto;
    background-color: #D8D8D8;
    display: flex;
    border-radius: 5px;
    flex-flow: column wrap;
    color: #3D3D3D;
}

%lineClampPlaceholder {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.blogContainer {
    @extend %blogContainerPlaceholder;   
    @extend %lineClampPlaceholder; 
}

.detailsBlogContainer {
    @extend %blogContainerPlaceholder;  
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .blogTitle {
      height: calc(100% - 20px);
      margin: 10px;
      display: flex;
      align-items: center;
      font-family: cursive;
      font-size: 30px;
      width: calc(100% - 20px);
  }

  .blogDescription {
      height: auto;
      display: flex;
      margin: 0 40px;
      width: calc(100% - 80px);
      flex-flow: column wrap;
  }

  .blogFooter {
      display: flex;
      justify-content: flex-end;
      margin: 10px;
  }

  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
