@import "../color";

.blogContainer {
    margin: 20px;
    width: calc(100% - 40px);
    height: auto;
    background-color: #3D3D3D;
    display: flex;
    border-radius: 5px;
    flex-flow: column wrap;
    color: #D8D8D8;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .blogTitle {
      height: calc(100% - 20px);
      margin: 10px;
      display: flex;
      align-items: center;
      font-family: cursive;
      font-size: 30px;
      width: calc(100% - 20px);
  }

  .blogDescription {
      height: auto;
      display: flex;
      margin: 0 40px;
      width: calc(100% - 80px);
      flex-flow: column wrap;
  }

  .blogFooter {
      display: flex;
      justify-content: flex-end;
      margin: 10px;
  }

  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
