@import "../color";

.formStyles {
    width: 100%;
    margin-top: 5%;
}

.inputStyles {
    height:36px;
    width: calc(100% - 20px);
    margin: 0 10px;
    background-color: #E98A15;
    color:#E8E8E8;
    font-size: 15px;
    border: 2px solid $grayBackgroundColor;
    border-radius: 5px;
}

//  tab and desktops
@media only screen and (min-width: 800px) {
.inputStyles {
    height:36px;
    width: calc(100% - 160px);
    margin: 0 80px;
    background-color: #E98A15;
    color:#E8E8E8;
    font-size: 15px;
    border: 2px solid $grayBackgroundColor;
    border-radius: 5px;
}
}