@import "../color";

.inputStyles {
    height:36px;
    width:400px;
    margin: 0 80px;
    background-color: #E98A15;
    color:#E8E8E8;
    font-size: 15px;
    border: 2px solid $grayBackgroundColor;
    border-radius: 5px;
}