@import "../color";

.wrapper {
    display: flex;
    flex-flow: row wrap;
    background-color: var(--secondary-color);
    height:100%;
}

.wrapper>ul {
    width:100%;
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    margin: 0;
}

.wrapper>ul>li {
    width:100%;
    list-style-type: none;
}

.wrapper img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    padding: 10px;
}

.figureStyles {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: var(--primary-color);
    border-radius: 4px;

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }  
}

.captionStyles{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 16px;
    font-family: 'Courgette';
    font-size: 20px;
    color: var(--font-color);
    position: relative;
}

.galaryBackLink {
    position: absolute;
    margin:10px 40px;
    cursor: pointer;
    height: 40px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 20px;
    font-family:'Courgette';
    right: 0;

    &:hover{
        color: #68696b61; 
        text-decoration: underline;
      }
}

.galaryAboutLink {
    position: absolute;
    margin:10px 40px;
    cursor: pointer;
    height: 40px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 20px;
    font-family:'Courgette';
    right: 100px;

    &:hover{
        color: #68696b61; 
        text-decoration: underline;
      }
}

.heart {
    position: absolute;
    bottom: 0;
    right:30px;
    font-size:24px;
    cursor: pointer;
}

.heartCount {
    position: absolute;
    bottom: 5px;
    right:15px;
    font-size:18px;
}

//  tab and desktops
@media only screen and (min-width: 800px) {
    .wrapper>ul>li {
        width:33.33%;
        list-style-type: none;
    }
    .captionStyles{
        height: 91px;
    }
}