@import "../color";

.educationContainer {
    margin: 20px;
    width: calc(100% - 40px);
    height: auto;
    background-color: #E8E8E8;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.educationHeader {
    display: flex;
    align-items: center;
    background-color: $grayBackgroundColor;
    margin: 10px;
    justify-content: center;
}

.educationHeaderText {
    font-family: 'Courgette';
    font-size: 30px;
    margin-left: 10px;
    color: #E8E8E8;
}

.educationBody{
    display: flex;
    flex-flow: row wrap;
    height: auto;
    color: #012622;
    font-size: 14px;
    flex: 0 0 100%;
    justify-content: center;
}

.educationImageContainer {
    flex: 0 0 calc(100% - 20px);
    margin: 10px;
    height: 320px; 
    text-align: center;
    order: 0;
}

.educationImage {
    max-width: 500px;
    height: 320px;
    align-self: flex-end;
    width: 100%;
    min-width: 200px;
}

.educationList {
    flex: 0 0 calc(100% - 20px);
    margin: 0 10px 10px 10px;
    height: 100%;
    order: 1;
}

.educationHeaderName {
    font-weight: bold;
    font-size: 15px;
    color: $grayBackgroundColor;
}

//  tab and desktops
@media only screen and (min-width: 800px) {
    .educationBody{
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
    .educationImageContainer {
        flex: 0 0 calc(40% - 10px);
        margin: 10px 10px 10px 0;
        text-align: left;
        order: 0;
    }
    .educationList {
        flex: 0 0 calc(60% - 20px);
        order: 0;
    }
}