{
    "presets": ["@babel/preset-react", "@babel/preset-env"],
    "plugins": [
      ["@babel/plugin-proposal-class-properties"],
      ["prismjs", {
        "languages": ["javascript", "css", "html"],
        "plugins": ["line-numbers", "show-language"],
        "theme": "okaidia",
        "css": true
      }]
    ]
  }