$lightBgColor: #E8E8E8;
$grayBackgroundColor: #68696b;
$highLightColor: #E98A15;
$veryDarkColor: #012622;
$darkColor: #003B36;

:root {
    --primary-color: #68696b;
    --secondary-color: #E98A15;
    --font-color: #E8E8E8;
    --dark-color: #003B36;
    --verydark-color: #012622;
    --bg-image: url('/assets/images/background.jpg') repeat-y;
    --imageshadow-color: #E98A1552;
    --hover-color: #ecb877;
    --labelshadow-color: rgba(233, 138, 21,0.3);
}

[data-theme="dark"] {
    --primary-color: #231F20;
    --secondary-color: #AFACAC;
    --font-color: #F4F4F9;
    --dark-color: #C5C5C5;
    --verydark-color: #848381;
    --bg-image: url('/assets/images/background-dark.jpg') repeat-y;
    --imageshadow-color: #605f5e52;
    --hover-color: #605f5e7a;
    --labelshadow-color: rgba(175, 172, 172, 0.3);
}

%effectPlaceholder
{
	content:"";
    position:absolute;
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    border-radius:100px / 10px;
}

.effect
{
  	position:relative;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

    &:before {
        @extend %effectPlaceholder;
    }
    
    &:after {
        @extend %effectPlaceholder;
        right:10px;
        left:auto;
        transform:skew(8deg) rotate(3deg);
    }
}