@import "color";

html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    background-image:url('./assets/images/background.jpg');
    background-repeat: repeat-y;
    font-family: Helvetica, sans-serif;
    background-size: 100% 300px;
}